#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#img2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  text-align: center;
  color: rgb(139,0,0);
  
}
* {
  background-color: lightgrey;
}

.divider {
  border-bottom: 4px solid darkgrey;
}
p {
  text-align: center;
}

a:hover {
  color: rgb(152,0,0);
}
a:active {
  color: darkgrey;
}
